/* Intro */

.intro {
    padding: 40px;
    display: flex;
    place-content: center flex-start;
    height: 70vh;
    overflow: hidden;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 40px;
}

.intro h1 {
    font-size: 72px;
    line-height: 86px;
    text-align: center;
    max-width: 700px;
    width: 100%;
    white-space: pre-wrap;
    overflow: break-word;
    margin: auto;
}

.intro .intro__tag_group {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-sm);
}

.intro .intro__tag_group div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.intro .intro__tag_group .intro__tag_group__tag {
    background: var(--accent);
    padding: 5px 12px;
    border-radius: 100px;
}

@media (max-width: 1200px) {
    .intro {
        max-width: 100%;
        padding: 20px;
    }
    .intro h1 {
        font-size: 48px;
        line-height: 1.3;
    }
}

@media (max-width: 806px) {
    .intro h1 {
        font-size: 36px;
        line-height: 1.2;
    }
}

.works {
    display: flex;
    place-content: center flex-start;
    flex-flow: column;
    padding: 40px;
    overflow: hidden;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 30px;
}

.works > div {
    display: flex;
    flex-flow: row;
    gap: 20px;
}

.works .work {
    position: relative;
    flex: 1 0 0;
    aspect-ratio: 1.3 / 1;

}

.works .work .work__work_img{
    flex: 1 0 0px;
}

.works .work .work__work_img img {
    aspect-ratio: 1.3 / 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
}

.works .work .work__work_info {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.work .work__work_info .work__work_info__work_title{
    color: var(--background);
    font-size: 18px;
    line-height: 1.4em;
}

.works .work .work__work_info .work__work_info__work_icon {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: var(--text);
    border-radius: 50%;
    position: relative;
}

.works .work .work__work_info .work__work_info__work_icon.available {
    background: var(--background);
}

.work__work_info .work__work_info__work_icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
