/* Intro */

.intro {
    max-width: 700px;
    width: 100%;
    margin: auto;
}

.intro h1 {
    font-size: 72px;
    line-height: 86px;
    text-align: center;
}

.intro .intro__tag_group {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-sm);
}

.intro .intro__tag_group div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.intro .intro__tag_group .intro__tag_group__tag {
    background: var(--accent);
    padding: 5px 12px;
    border-radius: 100px;
}
