/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    position: sticky;
    top: 0;
    z-index: 111;
}

.navbar .navbar__navLink {
    width: 290px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    backdrop-filter: blur(16px);
    background-color: var(--accent);
    border-radius: 100px;
    opacity: 1;
    gap: 5px;
}

.navbar .navbar__navLink a {
    font-weight: 600;
    font-size: var(--font-sm);
    padding: 10px 12px;
    width: 100px;
    border-radius: 100px;
    text-align: center;
    transition: color .5s;
}

.navbar .navbar__navLink a.active {
    background: var(--background);
}

/* Contact */

.contact {
    max-width: 1400px;
    height: 300px;
    width: 100%;
    display: grid;
    place-content: center;
    padding: 30px;
    margin: auto;
}

.contact .contact__contact_content {
    display: block;
    text-align: center;
    max-width: 660px;
    width: 100%;
    margin: auto;
}

.contact .contact__contact_content h2:last-child a {
    color: var(--secondary);
}

.contact .contact__contact_content h2:last-child a:hover {
    color: var(--accent-two);
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-sm);
    font-weight: 600;
    padding: 20px 40px;
    transition: all 0.3s;
}

.footer .footer__footer_btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 18px;
    text-align: center;
    background: var(--text);
    color: var(--background);
    text-transform: capitalize;
    width: max-content;
    border-radius: 100px;
}
.footer .footer__footer_btn a{
    color: var(--accent);
    font-family: var(--font-f-bolder);
}

.footer .footer__footer_links {
    display: flex;
    gap: 1rem;
}

.footer .footer__footer_links a{
    transition: color .5s;
}

.footer .footer__footer_links a:hover {
    color: var(--secondary);
}
